.button {
  @include button();
  &-submit {
    // padding: 18px 60px;
    padding: 0;
    @include wh(290px, 53px);
    @include flex();
    flex-direction: column;
    font-size: 14px;
    border-radius: 2px;
    border: 2px solid white;
    &:hover {
      border: 2px solid darken($text-clr-light, 10%);
    }
  }
  &-autoplay {
    display: none;
  }

  &-burger {
    position: relative;
    background: rgba($color: $oth-clr-green, $alpha: 0.65);
    z-index: 1001;
    @include wh(40px, 40px);
    padding: 0;
    display: none;
    position: fixed;
    border: 2px solid black;
    border-radius: 50%;
    span,
    span::after,
    span::before {
      transition: 0.3s;
      position: absolute;
      display: block;
      height: 2px;
      width: 100%;
      top: 50%;
      margin-bottom: 2px;
      left: 0;
      background: black;
    }
    span::after,
    span::before {
      content: "";
    }
    span::before {
      transform: translateY(-5px);
    }
    span::after {
      transform: translateY(3px);
    }
    @media (max-width: 1000px) {
      display: block;
      &.active {
        span {
          transform: rotate(-135deg);
        }
        span::after {
          transform: rotate(270deg);
        }
        span::before {
          display: none;
        }
      }
    }
  }
}

.tns-nav {
  box-sizing: border-box;
  padding: 0 !important;

  button {
    box-sizing: border-box;
    padding: 0 !important;
    position: relative;
    border-radius: 50% !important;
    transition: 0.3s;
    border: 3px solid $oth-clr-green;
    outline: none;
    width: 20px !important;
    height: 20px !important;
    background-size: cover;
    margin-right: 5px;
    background: transparent;
    &.tns-nav-active {
      transition: 0.3s;
      border-color: $main-clr-orange;
      &::before {
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $main-clr-orange;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
