.header {
  color: $text-clr-dark;
  padding: 25px 0;
  &-wrapper {
    @include flex(space-between);
  }
  &-label {
    font-weight: 600;
    text-transform: uppercase;
    @include flex(space-between, flex-end);
    img {
      margin-right: 5px;
      @include wh(45px, 45px);
    }
    .company-name {
      font-size: 18px;
    }
  }
  &-nav {
    display: flex;
    .nav-selector {
      transition: 0.2s;
      margin-right: 35px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-contacts {
    display: flex;
    img {
      margin-right: 15px;
    }
    @media (max-width: 320px) {
      img {
        display: none;
      }
    }
  }
  &-contacts-text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    span {
      font-size: 14px;
      &:last-child {
        font-size: 20px;
        font-weight: 500;
        font-size: 20px;
      }
    }
    @media (max-width: 480px) {
      span {
        font-size: 12px;
        &:last-child {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .header {
    padding: 5px 0;
    &-label {
      img {
        margin: 0 0 0 45px;
      }
      .company-name {
        display: none;
      }
    }
    &-nav {
      align-items: center;
      justify-content: space-evenly;
      transition: 0.3s;
      background: rgba($color: #000000, $alpha: 0.95);
      left: -4000px;
      top: 0;
      position: fixed;
      z-index: 1000;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      .nav-selector {
        color: $text-clr-light !important;
        margin: 0;
      }
      &.active {
        left: 0;
      }
    }
  }
}
