.projects {
  &-wrapper {
    padding: 50px 0 100px 0;
  }
  &-header {
    text-align: center;
  }
  .slider {
    &__item {
      &-wrapper {
        height: 372px;
        background: $oth-clr-blue;
        @media (min-width: 1000px) {
          &:hover {
            background: $main-clr-orange;
          }
        }
        @media (max-width: 1000px) {
          padding-top: 10px;
        }
      }
      cursor: pointer;
      .project {
        &-info {
          color: $text-clr-light;
          padding: 30px;
        }
        &-img {
          @include wh(100%, 230px);
          max-width: 369px;
          &-wrapper {
            text-align: center;
          }
        }
        &-date {
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 15px;
        }
        &-name {
          @media (min-width: 1440px) {
            display: -webkit-box;
            font-size: 20px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-width: 229px;
          }
        }
      }
    }
  }
  .tns-nav {
    height: 21px !important;
    margin-top: 40px;
    text-align: center;
  }
}
